.bodyLogin{
    background-color: #FFF3E1;
}
.loginDiv{
    text-align: center;
    margin: 20px;
}
.loginTitle{
    color: #F4F4F4;
    background-color: #7ECA9C;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    padding-top: 15px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: #40394A;
}
#loginForm{
    display: grid;
    place-items: center; 
    padding: 20px;
    padding-left: 40px;
    column-gap: 100px;
    row-gap: 10px;
    margin-left: 230px;
    margin-right: 230px;
    border-style: solid;
    border-color:#373331;
    border-width: 2px;
    background-color: #cbf9da97;
    color: #373331;
    font-size: 1.2rem;
}
input{
    color: #373331;
    background-color: #EEEEEE;
    margin: 20px;
    padding: 10px;
}
.letrasLogin{
    font-size: 1.6rem;
    color: #373331;
}
.botonLoginCeleste{
    color:#373331;
    text-decoration: none;
    margin-top: 10px;
}
.entrarLogin{
    margin: 10px;
}
.signupButton{
    color:#373331;
    text-decoration: none;
    margin: 10px;
    margin-bottom: 10px;
}