.bodySignup{
    background-color: #FFF3E1;
}
    
.encabezadoTitulo{
    background-color: #363636;
    padding-top: 5px;
    text-align: center;
}
.tituloRealtime{
    color: #6DECB9;
}
.subtituloRealtime{
    background-color: #6DECB9;
    padding-bottom: 10px;
    color: #363636;
}
.divImage{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    background-color:  #363636;
    margin-right: 20px;;
    padding-left: 40px;
    padding-bottom: 20px;
}
.productList{
    display: grid; 
    grid-template-columns: 3.5fr 3fr 3fr; 
    grid-template-rows: 1fr 1fr; 
    margin-left: 30px;
    gap: 2px 0px; 
    margin-left: 100px;
    grid-template-areas: 
    ". . ."
    ". . .";  
}
.productImg{
    width: 350px;
    height: 350px;
    background-color: #218f7f;
}
.tarjetaProducto{
    background-color:  #363636;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 20px;

}
.tituloTarjeta{
    padding-top: 40px;
    color: #FFF7F7;
    font-size: 1.8rem;
}
.subtituloTarjeta{
    color: #FFF7F7;
    padding-top: 60px;
    font-size: 1.2rem;
}
.btnEliminar {
    background-color: #6F6F6F;
    color: #EEEEEE;
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
}
.btnEliminar:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.btnEliminar:active {
    transform: scale(0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.productForm{
    text-align: center;
    display: grid;
    color: #373331;
    padding: 20px;
    column-gap: 100px;
    row-gap: 10px;
}
.botonFormulario{
    color: #6F6F6F;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-left: 670px;
    margin-right: 407.5px;
    width: 100px;
    height: 70px;
    margin-top: 30px;
    background-color: #6DECB9;
    border-radius: 20%;
    font-size: 1.2rem;
}
.precioTarjeta{
    font-size: 1.3rem;
    background-color: #29CDB5;
    padding: 10px;
    border-style: solid;
    border-color: #9BF4D5;
}

.botonChat{
    padding-top: 20px;
    text-align: right;
    margin-right: 20px;
}
.formaBoton{
    border-radius: 30%;
    font-size: 30px;
    border-color: #363636;
    cursor: pointer;
    box-shadow: inset 0 10px 15px rgba(255,255,255,.35), inset 0 -10px 15px rgba(0,0,0,.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05), 0 5px 20px rgba(0,0,0,.1);
}
.formaBoton:active{
    box-shadow: inset 0 5px 30px rgba(0,0,0,.2);
    background-size: 5.9em;
}
.subtituloChat{
    text-align: right;
    margin-right: 5px;
    font-size: 1.1rem;
    color: #218f7f;
}