.loginDiv{
    text-align: center;
    margin: 20px;
}
.loginTitle{
    color: #EEEEEE;
    background-color: #373331;
    padding-top: 15px;
    padding-bottom: 10px;
}
#loginForm{
    display: grid;
    place-items: center; 
    padding: 20px;
    padding-left: 40px;
    column-gap: 100px;
    row-gap: 10px;
    margin-left: 230px;
    margin-right: 230px;
    border-style: solid;
    border-color:#373331;
    border-width: 2px;
    background-color: #cbf9da97;
    color: #373331;
    font-size: 1.2rem;
}
input{
    color: #373331;
    background-color: #EEEEEE;
    margin: 20px;
    padding: 10px;
}
.letrasLogin{
    font-size: 1.6rem;
    color: #373331;
}