<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    
</body>
</html>
<div class="encabezado-chat">
    <h1 class="h1-chat">Bienvenidos al chat de Vape Empire</h1>
    <h2 class="h2-chat">Que el vapeo te acompañe</h2>
</div>

<div class="orientacion-formulario">
    <h2 class="chat-vivo">Chat en vivo</h2>
    <input id="chatBox" />
</div>
<p id="message" />
<div class="contenido-chat">
    <p id="messageLogs"></p>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>