<div class="loginDiv">
    <div class="cuerpoTitle">
        <h1 class="loginTitle">LOGIN</h1>
    </div>
    <form id="loginForm">
        <label class="letrasLogin" for="mail">Mail</label>
        <input class="letrasLogin" type="text" placeholder="Enter Mail" id="mail">
        <label class="letrasLogin" for="password">Password</label>
        <input class="letrasLogin" type="password" placeholder="Enter Password" id="password">
        <input class="botonLogin" type="submit" value="Log In">
        <a href="/session/signup">¿No tienes cuenta?</a>
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/login.js"></script>