<form class="formRegister" id="signupForm">
    <div class="tituloDiv">
        <h3 class="tituloRegister">REGISTRAR USUARIO</h3>
    </div>
    <div class="signupDiv">
        <input class="controls" type="text" name="name" id="first_name" placeholder="Ingrese su nombre">
        <input class="controls" type="text" name="last_name" id="last_name" placeholder="Ingrese su apellido">
        <input class="controls" type="email" name="mail" id="mail" placeholder="Ingrese su correo">
        <input class="controls" type="text" name="user" id="user" placeholder="Ingrese su nombre de usuario">
        <input class="controls" type="password" name="password" id="password" autocomplete="on" placeholder="Ingrese su contraseña">
    </div>
    <div class="divInferior">
        <p class="parrafoRegister">Terminos y condiciones<button class="botonRegister"  href="#">Aceptar</button></p>
        <button class="botonRegister" type="submit">Registrar</button>
        <p><a href="http://localhost:3000/">Ya tengo una cuenta</a></p>
    </div>
</form>
<script src="/js/signup.js"></script>