<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/products.css" />
    <link rel="stylesheet" href="/style/chat.css" />
    <link rel="stylesheet" href="/style/cart.css" />
    <link rel="stylesheet" href="/style/login.css" />
    <link rel="stylesheet" href="/style/signup.css" />
    <title>{{title}}</title>
</head>
<body>
    {{{body}}}
</body>
<script src="/js/{{script}}"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
<script src="/js/carts.js"></script>
<script src="/js/products.js"></script>
</html>